<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tristan Smith | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/site.css">
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{ tristansm.it/h }</a>
            </div>
            <nav>
                <a href="/" {% if page.url == '/index.html' %}class="active"{% endif %}>Home</a>
                <a href="/blog.html" {% if page.url == '/blog.html' %}class="active"{% endif %}>Blog</a>
                <a href="/resume.html" {% if page.url == '/resume.html' %}class="active"{% endif %}>Resume</a>
                <a href="/contact.html" {% if page.url == '/contact.html' %}class="active"{% endif %}>Contact</a>
            </nav>
        </div>
    </header>
    <div id="{{page.title | downcase}}" class="page container">
        {{ content }}
    </div>
</body>
</html>
